.main-header {
  background: url(img/background.jpg) center;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 600px;
  color: #fff;
}

.main-header .showcase {
  padding-top: 100px;
}

.active-link {
  color: #d847f1;
  font-weight: bold;
}
