.loader {
    position: absolute;
    top: 40px;
    left: 47px;
}

.determinate {
    &.visitors-count {
        width: 40%;
    }

    &.blog-post-count {
        width: 20%;
    }

    &.comments-count {
        width: 40%;
    }

    &.users {
        width: 10%;
    }
}

.chart {
    height: 300%;
    max-width: 100%;
    margin-top: 10px;
}